<section class="filters">

  <div class="filter">
    <label class="filter-label" for="filter-language">
      Languages
    </label>
    <select id="filter-language" class="filter-select language">
      <option value="">French</option>
    </select>
  </div>

  <div class="filter">
    <label class="filter-label" for="filter-level">
      Level of knowledge
    </label>
    <select id="filter-level" class="filter-select level">

    </select>
  </div>

  <div class="filter">
    <label class="filter-label" for="filter-price">
      Price
    </label>
    <select id="filter-price" class="filter-select price">
    </select>
  </div>

</section>