<section class="container main-content-container">
  <div class="main-content">
    <div class="main-text-box">
      <h1 class="main-text-title">Unlock your potential with the best <span class="title-language">language</span>
        tutors</h1>
      <p class="main-text-descr">
        Embark on an Exciting Language Journey with Expert Language Tutors: Elevate your language proficiency to new
        heights by
        connecting with highly qualified and experienced tutors.
      </p>
      <a class="main-text-btn" href="./teachers.html">
        Get started
      </a>
    </div>
    <div class="main-img-box">
      <img src="https://res.cloudinary.com/dyounr2tf/image/upload/v1766253042/main-content_lwz3lv.png" alt="main-image"
        width="568" height="530" />
    </div>

  </div>
  <div class="main-statistic">
    <ul class="stat-list">
      <li class="stat-item">
        <p class="stat-number">32,000 +</p>
        <p class="stat-descr">Experienced tutors</p>
      </li>
      <li class="stat-item">
        <p class="stat-number">300,000 +</p>
        <p class="stat-descr">5-star tutor reviews</p>
      </li>
      <li class="stat-item">
        <p class="stat-number">120 +</p>
        <p class="stat-descr">Subjects taught</p>
      </li>
      <li class="stat-item">
        <p class="stat-number">200 +</p>
        <p class="stat-descr">Tutor nationalities</p>
      </li>
    </ul>
  </div>

</section>