/* ------------   Log-In   -------------- */
.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.password-box {
  position: relative;
}

.password-box .form-user-input {
  padding-right: 44px;
}

.form-user-input {
  width: 100%;
}

.password {
  border: none;
  background-color: inherit;
  position: absolute;
  top: 50%;
  right: 12px;

  transform: translateY(-50%);

  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* in modal */
.btn-login,
.btn-register {
  border-radius: 12px;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #f4c550;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
}

@media screen and (min-width: 768px) {

  .btn-login,
  .btn-register {
    font-weight: 700;
    height: 60px;
  }
}