*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  /* border: solid 2px blue; */
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}