*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;

  background-color: rgba(255, 255, 255, 0.87);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  background-color: #fff;
  color: #121417;
}

.body-teachers {
  background-color: #f8f8f8;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}