/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
  }
}


/*  Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    /* ??? */
  }
}

/* Desktop  */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 50px;
    /* ??? */
  }
}

/* Desktop 2 */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}