.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter-label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;

}

.filter-select {
  border-radius: 8px;
  padding: 6px 6px 6px 6px;
  width: 200px;
  background-color: #fff;
  border: none;
}

@media screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
    gap: 20px;
    padding: 16px;
  }

  .filter {
    gap: 8px;
  }

  .filter-select {
    padding: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    padding: 24px;
  }

  .filter-select {
    padding: 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #121417;
  }

  .filter-select option {
    width: 100%;
  }

  .language {
    width: 220px;
  }

  .level {
    width: 200px;
  }

  .price {
    width: 125px;
  }
}

@media screen and (min-width: 1440px) {
  .filters {
    padding-left: 0;
    margin-left: 110px;
  }
}