.footer {
  display: flex;
  justify-content: center;
}

.footer-content {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}

.footer-text {
  text-align: center;
}