.header {
  padding: 20px 0;
  background-color: #fff;
}

.container-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  padding: 0;
  height: 68px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
  cursor: pointer;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;

}

.nav-link {
  color: #121417;
}

.auth {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-list,
.out-box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logIn,
.logout {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  color: #121417;
  border: none;
  background-color: inherit;
}

.register,
.out-text {
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #121417;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  border: none;
}

/* --------------------------------------------- */
@media screen and (min-width: 768px) {
  .container-header {
    width: 644px;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
  }

  .nav {
    justify-content: space-between;
  }

  .nav-logo {
    font-size: 20px;
    gap: 8px;
  }

  .nav-list {
    gap: 28px;
    font-size: 16px;
  }

  .auth-list,
  .out-box {
    gap: 16px;
  }

  .logIn,
  .logout {
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
  }

  .register,
  .out-text {
    border-radius: 12px;
    padding: 14px 39px;
    font-weight: 700;
    font-size: 16px;
    height: 48px;
  }
}


@media screen and (min-width: 1200px) {
  .container-header {
    width: 944px;
  }
}

@media screen and (min-width: 1440px) {
  .container-header {
    width: 1184px;
  }
}