/*  */
.main-content {
  display: flex;
  flex-direction: column-reverse;

  margin-top: 12px;
}

.main-img-box {
  border-radius: 12px;
  background-color: #fbe9ba;
  margin-bottom: 24px;
}

.main-text-box {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 24px;
}

.main-text-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #121417;
  padding-top: 24px;
  margin-bottom: 24px;
}

.title-language {
  font-style: italic;
  font-weight: 400;
  border-radius: 8px;
  background-color: #fbe9ba;

}

.main-text-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 24px;
}

.main-text-btn {
  border-radius: 12px;
  padding: 12px 28px;
  background-color: #f4c550;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #121417;
  margin-bottom: 24px;
}

.main-statistic {
  border: 1.50px dashed #f4c550;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 24px;
  margin-bottom: 40px;
}

.stat-item {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
}

.stat-number {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #121417;
}

.stat-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}

/* --------------------------------- */
@media screen and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    gap: 12px;
  }

  .main-text-box {
    width: 390px;
    padding: 24px;
  }

  .main-img-box {
    width: 334px;
  }

  .main-text-title {
    padding-top: 12px;
  }

  .main-text-btn {
    display: block;
    text-align: center;
    width: 200px;
    margin: 0;
  }

  .main-text-btn:hover,
  .main-text-btn:focus {
    background-color: #ffdc86;
  }

  .stat-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .stat-item {
    width: calc((100% - 40px) / 2);
    justify-content: center;
  }

  .stat-descr {
    width: 78px;
  }
}

@media screen and (min-width: 1200px) {
  .main-content {
    gap: 24px;
  }

  .main-text-box {
    width: 630px;
    padding: 80px 64px;
  }

  .main-img-box {
    width: 514px;
  }

  .main-text-title {
    font-size: 40px;
  }

  .main-text-descr {
    width: 450px;
    margin-bottom: 64px;
  }

  .stat-list {
    flex-wrap: nowrap;
    width: 1067px;
  }

  .stat-item {
    gap: 16px;
  }

  .stat-number {
    font-size: 28px;
  }

  .stat-descr {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .main-text-box {
    width: 720px;
    padding: 98px 64px;
  }

  .main-img-box {
    width: 568px;
  }

  .main-statistic {
    width: 1312px;
  }
}