.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 320px;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
  overflow: auto;
  background: #fff;
}


.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #fff;
  border: none;
  width: 32px;
  height: 32px;
  font-size: 28px;
  color: #121417;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.closeButton:hover {
  background: #f2f2f2;
}

.closeButton:focus {
  outline: 2px solid #007bff;
}

.no-scroll {
  overflow: hidden;
}


/* ------------------------------- */

.box-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}

.modal-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: rgba(18, 20, 23, 0.8);
}

.box-teacher {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.img-teacher-box {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}

.teacher-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.teacher-info-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #8a8a89;
}

.teacher-info-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
}

.form-ask {
  border: none;
}

.form-ask {
  margin-bottom: 20px;
}

.form-ask-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 133%;
  color: #121417;
}

.form-ask-label {
  display: flex;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #121417;
}

.form-user {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-user-input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 10px;
}

/* -------------------------------- */

input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 138%;
  color: #121417;
}

input:hover::placeholder,
input:focus::placeholder {
  color: #f4c550;
}


form:focus-within {
  border-color: blue;
}

/* ---------------------------------- */

.btn-form-lesson {
  border-radius: 12px;
  border: none;
  padding: 8px;
  background-color: #f4c550;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 138%;
  color: rgba(18, 20, 23, 0.7);
}

@media screen and (min-width: 768px) {
  .modal {
    border-radius: 30px;
    width: 599px;
    height: auto;
    padding: 64px;
  }

  .closeButton {
    top: 20px;
    right: 20px;
    font-size: 40px;
  }

  .modal-title {
    font-size: 40px;
  }

  .form-ask-title {
    font-size: 24px;
  }

  input::placeholder {
    font-size: 16px;
  }

  .btn-form-lesson {
    height: 60px;
  }

  .form-user-input {
    padding: 18px;
  }

  .error {
    font-size: 14px;
  }
}