.teachers {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.teachers-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.teacher-card {
  background-color: white;
  border-radius: 24px
}

.teacher-avatar {
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
  position: relative;
}

.teacher-avatar-img {
  border-radius: 100px;
  width: 96px;
  height: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teacher-avatar-svg {
  position: absolute;
  top: 19px;
  left: 85px;
}

.teacher-content {
  padding: 12px;
}

.teacher-content-top {
  display: flex;
  flex-direction: column;
}

.teacher-data {
  margin-bottom: 12px;
}

.teacher-languages {
  margin-bottom: 6px;
  font-weight: 500;
  line-height: 150%;
  color: #8a8a89;
}

.teacher-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #121417;
}

.teacher-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.teacher-separator {
  display: none;
}

.teacher-lessons-online,
.teacher-lessons-done,
.teacher-rating,
.teacher-price,
.teacher-info,
.teacher-info-label {
  font-weight: 500;
  line-height: 150%;
}

.teacher-lessons-online,
.teacher-rating {
  display: flex;
  gap: 8px;
  align-items: center;
}


.price-color {
  color: #38cd3e;
}

.teacher-like-btn {
  border: none;
  background-color: white;
  margin-bottom: 12px;
}

.svg-heart {
  stroke: #121417;
  fill: white;
}

.teacher-like-btn .svg-heart {
  fill: transparent;
  stroke: #999;
}

.teacher-like-btn.is-favorite .svg-heart {
  fill: #f44336;
  stroke: #f44336;
}

.svg-book {
  stroke: #121417;
  fill: white;
}

.teacher-info-label {
  color: #8a8a89;
}

.teacher-info-language {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.teacher-read-more {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  border: none;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.teacher-levels {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 24px;
}

.teacher-level p {
  display: inline-block;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
}

.teacher-level:first-child p {
  background-color: #f4c550;
}

.trial-lesson-btn {
  border-radius: 12px;
  border: none;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  background-color: #f4c550;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  margin-top: 24px;
}

.load-more-btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background-color: #f4c550;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.scroll-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f4c550;
  stroke: var(--gray);
  fill: var(--gray);
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.scroll-top:active {
  background-color: #cba443;
}

.svg-up {
  fill: #ffdc86;
}

.scroll-top:hover,
.scroll-top:focus {
  background-color: #ffdc86;
}

.scroll-top:hover .svg-up,
.scroll-top:focus .svg-up {
  fill: #f4c550;
}


@media screen and (min-width: 768px) {
  .teacher-content {
    padding: 24px;
  }

  .teacher-content-top {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .teacher-meta {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    width: calc((100% - 8px) / 2);
  }

  .teacher-meta:last-child {
    justify-content: end;
  }

  .teacher-separator {
    display: block;
  }

  .teacher-like-btn {
    margin: 0;
  }

  .teacher-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .teacher-levels {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trial-lesson-btn:hover,
  .trial-lesson-btn:focus,
  .load-more-btn:hover,
  .load-more-btn:focus {
    background-color: #ffdc86;
  }
}

@media screen and (min-width: 1200px) {
  .teacher-card {
    display: flex;
    padding: 24px;
  }

  .teacher-meta {
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px;
  }

  .teacher-like-btn {
    margin-left: 64px;
  }

  .teacher-data {
    width: 200px;
  }

  .load-more-btn {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .scroll-top {
    right: 124px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .teachers-list {
    margin-left: 110px;
    margin-right: 110px;
  }

  .teacher-card {
    gap: 48px;
  }
}