.container-svg {
  display: flex;
  gap: 24px;
}

.book {
  stroke: black;
  fill: white;
}

.eye {
  fill: white;
  stroke: black;
}



.group {
  background-color: bisque;
}

.normal {
  stroke: black;
  fill: white;
}